@import url("https://p.typekit.net/p.css?s=1&k=dvd7pqz&ht=tk&f=5914.39687.43084&a=12778661&app=typekit&e=css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

/*Icono whatsapp*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 2;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}



/*Fin estilo wapp*/


header {
  align-items: center;
}
header .navbar {
  height: 100px !important;
}
header .main-image {
  width: 100%;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
  margin-top: 100px;
}

h3 {
  text-align: center;
  margin-top: 10px;
  font-size: calc(10px + 1vw);
  font-weight: 450;
}

.logo {
  width: calc(11vw);
  min-width: 100;
}

.logo {
  width: calc(15vw);
  max-height: 100px;
  min-width: 100px;
}

.centrar{
  display: flex;
  align-items: center;
  justify-content: center;
}

/*codigo para colores*/
.colorBase { background-color: #efeae6;
  
}

.colorGris{ 
  background:#d8c4ac;
  background-size: cover;
}
.colorMarron{
  background:#a39482;
  background-size: cover;
  
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
  float:left;
  background: #efeae6;
 
}

/*Estilos iconos footer*/
.iconos {
  width: calc(5vw);
  min-width: 30px;
}

.styled-parraf, .main .tarjeta__text, .main .tarjeta-info .info-menu__title {
  font-family: "trade-gothic-next";
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  text-align: justify;
}

body {
  background-color: #efeae6;
}

.main {
  width: 100%;
  margin: 0px auto;
}
.main .tarjeta, .main .tarjeta-left {
  font-size: 100px;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}
.main .tarjeta-info {
  order: 2;
  height: 50%;
  width: 80%;
  margin: auto;
}
.main .tarjeta-info .info-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.main .tarjeta-info .info-menu__link {
  width: 88px;
}
.main .tarjeta-info .info-menu__link:hover {
  text-decoration: none;
  transform: scale(1.1);
  transition: all 0.5s;
}
.main .tarjeta-info .info-menu__img {
  width: 100%;
  display: block;
  margin: auto;
}
.main .tarjeta-info .info-menu__title {
  text-align: center;
  color: #7b8760;
}
.main .tarjeta__title {
  font-size: 18px;
  margin: 24px 0px;
  font-weight: 600;
  font-family: "atrament-web";
  text-align: start;
  text-transform: uppercase;
  color: #7b8760;
}
.main .tarjeta__text {
  color: #a39482;
}
.main .tarjeta-galeria {
  width: 100%;
  order: 1;
  height: 50%;
}
.main .tarjeta-galeria .tarjeta__img {
  height: 2.5em;
  width: 100%;
  border-radius: 0.5;
}
.main .tarjeta-galeria .fa-angle-left, .main .tarjeta-galeria .fa-angle-right {
  width: 25px;
  height: 25px;
  position: absolute;
  margin: 115px 0rem 0rem 0.5em;
  font-size: 25px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
  color: white;
  cursor: pointer;
}
.main .tarjeta-galeria .fa-angle-right {
  margin-left: -1.5em;
}
.main .quienesSomos {
  margin-top: 50px;
}
.main .quienesSomos .tarjeta__title {
  margin: 33px 0px;
}

@media (min-width: 600px) {
  .main .tarjeta-galeria {
    width: 80%;
    margin: auto;
    height: 3.5em;
  }
  .main .tarjeta-galeria .tarjeta__img {
    height: 3.5em;
  }
  .main .tarjeta-galeria .fa-angle-left, .main .tarjeta-galeria .fa-angle-right {
    margin-top: 165px;
  }
  .main .tarjeta__title {
    font-size: 24px;
  }
  .main .tarjeta__text {
    font-size: 18px;
  }
  .main .tarjeta-info .info-menu__title {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  .main {
    width: 100%;
  }
  .main .tarjeta, .main .tarjeta-left {
    margin-bottom: 0.8em;
    flex-direction: row;
  }
  .main .tarjeta-info {
    width: 50%;
    padding: 0px 0.3em 0px 0.6em;
  }
  .main .tarjeta-info .tarjeta__title {
    margin-top: 0px;
  }
  .main .tarjeta-galeria {
    width: 50%;
  }
  .main .tarjeta-left {
    margin-bottom: 1em;
  }
  .main .tarjeta-left .tarjeta-info {
    order: 1;
  }
  .main .tarjeta-left .tarjeta-galeria {
    order: 2;
  }
}
@media (min-width: 1200px) {
  .main .tarjeta-info {
    padding: 0px 0.8em 0px 0.5em;
  }
  .main .tarjeta__text {
    text-align: start;
  }
  .main .tarjeta-left .tarjeta-info {
    padding: 0px 0.5em 0px 0.8em;
  }
}
@media (min-width: 1600px) {
  .main .tarjeta-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 1em 0px 1em;
  }
  .main .tarjeta-galeria {
    font-size: 125px;
  }
  .main .tarjeta-left .tarjeta-info {
    padding: 0px 1em 0px 1em;
  }
}

/*# sourceMappingURL=Styles.css.map */

/* Estilos fuentes */
.title{
  font-family:"atrament-web";
  src:url("https://use.typekit.net/af/ff79ef/0000000000000000773598b3/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff2"),url("https://use.typekit.net/af/ff79ef/0000000000000000773598b3/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("woff"),url("https://use.typekit.net/af/ff79ef/0000000000000000773598b3/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:100;
  color: #7b8760;
  font-size: 2em;
  }

  .text{ 
    font-family:"trade-gothic-next";
  src:url("https://use.typekit.net/af/a741c0/00000000000000007735ba66/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/a741c0/00000000000000007735ba66/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/a741c0/00000000000000007735ba66/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-display:auto;font-style:normal;font-weight:400;
  }

  
.titleNav{ 
  font-family:"trade-gothic-next";
src:url("https://use.typekit.net/af/a741c0/00000000000000007735ba66/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/a741c0/00000000000000007735ba66/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/a741c0/00000000000000007735ba66/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
color: #7b8760 !important; font-size: 1.1em;
}

.subtitle{ 
  font-family:"trade-gothic-next";
src:url("https://use.typekit.net/af/a741c0/00000000000000007735ba66/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/a741c0/00000000000000007735ba66/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/a741c0/00000000000000007735ba66/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;
color: #7b8760 !important; font-size: 1.0em;
}