@import url("https://p.typekit.net/p.css?s=1&k=dvd7pqz&ht=tk&f=5914.39687.43084&a=12778661&app=typekit&e=css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

//LOGO
$logoFont: "story-tales";
$logoWeight: 400;

//TITULOS
$titlesFont: "atrament-web";
$titlesWeight: 600;

//TEXTOS
$textosFont: "trade-gothic-next";
$textosWeight: 400;

//COLORES
$base:#efeae6;
$brown:#a39482;
$verdeHoja:#7b8760;
$red: #873b42;
$yellow:#e0a648;

//ESTILOS GENERALES
* {
  margin: 0px;
  padding: 0px;
}

header {
  align-items: center;
  .navbar {
    height: 100px !important;
  }
  .main-image {
    width: 100%;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    margin-top: 100px;
  }
}

h3 {
  text-align: center;
  margin-top: 10px;
  font-size: calc(10px + 1vw);
  font-weight: 450;
}

.logo {
  width: calc(11vw);
  min-width: 100;
}

/*codigo para colores*/
.colorBase {
  background: linear-gradient(to top, #33632d, #a5e499);
  background-size: cover;
}

/*Estilos iconos footer*/
.iconos {
  width: calc(5vw);
  min-width: 10;
}

//MAIN SECCION (CABANAS)
//MOBILE DESIGN

body{
  background-color: $base;  
}

.main {
  width: 100%;
  margin: 0px auto;
  .tarjeta {
    font-size: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    &-info {
      order: 2;
      height:50%;
      width: 80%;
      margin: auto;
    }
    &__title {
      font-size: 18px;
      margin: 24px 0px;
      font-weight: $titlesWeight;
      font-family: $titlesFont;
      text-align: start;
      text-transform: uppercase;
      color:$verdeHoja;
    }
    &__text {
      font-family: $textosFont;
      font-weight: $textosWeight;
      font-size: 12px;
      line-height: 20px;
      color: $brown;
      text-align: justify;
    }
    &-galeria {
      width: 100%;
      order: 1;
      height:50%;
      .tarjeta__img {
        height: 2.5em;
        width: 100%;
        border-radius: 0.5;
      }
      .fa-angle-left {
        width:25px;
        height:25px;
        position:absolute;
        margin: 115px 0rem 0rem .5em;
        font-size: 25px;
        text-align: center;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius:100px;
        color: white;
        cursor: pointer;
      }
      .fa-angle-right {
        @extend .fa-angle-left;
        margin-left: -1.5em;
      }
    }
  }

  .tarjeta-left {
    @extend .tarjeta;
  }
  .quienesSomos {
    margin-top: 50px;
    .tarjeta{
      // &-galeria{
      //   display:none;
      // }
      &__title{
        margin: 33px 0px;
      }
    }
  }
}

@media (min-width: 600px) {
  .main {
    .tarjeta {
      &-galeria {
        width:80%;
        margin:auto;
        height: 3.5em;
        .tarjeta__img {
          height: 3.5em;
        }
        .fa-angle-left {
         margin-top: 165px;
        }
      }
      &__title{
        font-size:24px;
      }
      &__text{
        font-size: 18px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .main {
    width: 100%;
    .tarjeta {
      margin-bottom: 0.8em;
      flex-direction: row;
      &-info {
        width: 50%;
        padding: 0px 0.3em 0px 0.6em;
        .tarjeta__title {
          margin-top: 0px;
        }
      }
      &-galeria {
        width: 50%;
      }
    }

    .tarjeta-left {
      margin-bottom: 1em;
      .tarjeta-info {
        order: 1;
      }
      .tarjeta-galeria {
        order: 2;
      }
    }
  }
}

@media (min-width: 1200px) {
  .main {
    .tarjeta {
      &-info {
        padding: 0px 0.8em 0px 0.5em;
      }
      &__text {
        text-align: start;
      }
    }

    .tarjeta-left {
      .tarjeta-info {
        padding: 0px 0.5em 0px 0.8em;
      }
    }
  }
}

@media (min-width: 1600px) {
  .main {
    .tarjeta {
      &-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 1em 0px 1em;
      }
      &-galeria {
        font-size: 125px;
      }
    }

    .tarjeta-left {
      .tarjeta-info {
        padding: 0px 1em 0px 3em;
      }
    }
  }
}
