@import url("https://p.typekit.net/p.css?s=1&k=dvd7pqz&ht=tk&f=5914.39687.43084&a=12778661&app=typekit&e=css");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

//LOGO
$logoFont: "story-tales";
$logoWeight: 400;

//TITULOS
$titlesFont: "atrament-web";
$titlesWeight: 600;

//TEXTOS
$textosFont: "trade-gothic-next";
$textosWeight: 400;

//COLORES
$base: #efeae6;
$brown: #a39482;
$verdeHoja: #7b8760;
$red: #873b42;
$yellow: #e0a648;

//ESTILOS GENERALES
* {
  margin: 0px;
  padding: 0px;
}

header {
  position: relative;
  align-items: center;
  .navbar {
    height: 100px !important;
  }
  .main-image {
    width: 100%;
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    margin-top: 100px;
  }
  #Logo {
    position: absolute;
    background-color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    padding: 0px;
  }
}

h3 {
  text-align: center;
  margin-top: 10px;
  font-size: calc(10px + 1vw);
  font-weight: 450;
}

.logo {
  width: calc(15vw);
  max-height: 100px;
  min-width: 100px;
  max-width: 150px;
}

.titleNav {
  font-family: "trade-gothic-next";
  src: url("https://use.typekit.net/af/a741c0/00000000000000007735ba66/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/a741c0/00000000000000007735ba66/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/a741c0/00000000000000007735ba66/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  color: #7b8760 !important;
  font-size: 1.1em;
}

.subtitle {
  font-family: "trade-gothic-next";
  src: url("https://use.typekit.net/af/a741c0/00000000000000007735ba66/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/a741c0/00000000000000007735ba66/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("woff"),
    url("https://use.typekit.net/af/a741c0/00000000000000007735ba66/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 400;
  color: #7b8760 !important;
  font-size: 1em;
}

.navbar-collapse {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-align: center;
  align-items: center;
  float: left;
  background: #efeae6;
}
/*codigo para colores*/
.colorBase {
  background: linear-gradient(to top, #33632d, #a5e499);
  background-size: cover;
}

/*Estilos iconos footer*/
.iconos {
  width: calc(5vw);
  min-width: 35px;
}

.styled-parraf {
  font-family: $textosFont;
  font-weight: $textosWeight;
  font-size: 12px;
  line-height: 20px;
  text-align: justify;
}

.centrar {
  display: flex;
  align-items: center;
  justify-content: center;
}

//MAIN SECCION (CABANAS)
//MOBILE DESIGN

body {
  background-color: $base;
}

.main {
  width: 100%;
  margin: 0px auto;
  overflow: hidden;
  .tarjeta {
    font-size: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0.5em;
    &-info {
      order: 2;
      height: 50%;
      width: 80%;
      margin: auto;
      .info-menu {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        &__link {
          width: 150px;
          padding: 0px;
        }
        &__link:hover {
          text-decoration: none;
          transform: scale(1.1);
          transition: all 0.5s;
        }
        &__img {
          width: 88px;
          display: block;
          margin: auto;
        }
        &__title {
          @extend .styled-parraf;
          text-align: center;
          color: $verdeHoja;
        }
      }
    }
    &__title {
      font-size: 18px;
      margin: 24px 0px;
      font-weight: $titlesWeight;
      font-family: $titlesFont;
      text-align: start;
      text-transform: uppercase;
      color: $verdeHoja;
    }
    &__text {
      @extend .styled-parraf;
      color: $brown;
    }
    &-galeria {
      width: 100%;
      order: 1;
      height: 50%;
      .tarjeta__img {
        height: 2.5em;
        width: 100%;
        border-radius: 0.5;
      }
      .fa-angle-left {
        width: 25px;
        height: 25px;
        position: absolute;
        margin: 115px 0rem 0rem 0.5em;
        font-size: 25px;
        text-align: center;
        background-color: rgb(0, 0, 0, 0.5);
        border-radius: 100px;
        color: white;
        cursor: pointer;
      }
      .fa-angle-right {
        @extend .fa-angle-left;
        margin-left: -1.5em;
      }
    }
  }

  .tarjeta-left {
    @extend .tarjeta;
  }
  .quienesSomos {
    margin-top: 50px;
    .tarjeta {
      &__title {
        margin: 33px 0px;
      }
    }
    &__img {
      @extend .tarjeta__img;
    }
  }
  .carousel {
    &__arrows {
      position: absolute;
      width: 110%;
      display: flex;
      justify-content: space-between;
    }
    &__arrow {
      width: 31px;
      height: 31px;
      z-index: 100;
      margin-top: calc(8.5em - 22px);
      border-radius: 100px;
      outline: none;
      border: none;
      background: $verdeHoja;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .carousel__icon {
      width: 15px;
      color: white;
    }
    &__arrow--left {
      margin-left: -10%;
    }
  }
  .opiniones {
    font-size: 16px;
    width: 80%;
    margin: 0px auto;
    &-comments {
      padding: 20px 0px;
      font-size: 16px;
      display: flex;
      .comment {
        transition: all 0.5s;
        border: 1px solid $verdeHoja;
        border-radius: 5px;
        margin-right: 0.9375em;
        &-header {
          padding: 0.9375em;
          display: flex;
          align-items: center;
          border-bottom: 1px solid $verdeHoja;
          .header__img {
            width: 1.5em;
            height: 1.5em;
            margin-right: 1em;
            border-radius: 100%;
          }
          .header-info {
            &__name {
              margin-bottom: 0.5625em;
              font-size: 0.75em;
              font-weight: bold;
            }
            &__date {
              font-size: 0.75em;
              margin: 0px !important;
            }
          }
        }
        &-text {
          @extend .tarjeta__text;
          font-size: 12px !important;
          margin: 3.6875em 1.875em;
        }
      }
    }
  }
}

@media (min-width: 600px) {
  .main {
    .tarjeta {
      &-galeria {
        width: 80%;
        margin: auto;
        height: 3.5em;
        .tarjeta__img {
          height: 3.5em;
        }
        .fa-angle-left {
          margin-top: 218px;
        }
      }
      &__title {
        font-size: 24px;
      }
      &__text {
        font-size: 18px;
      }
      &-info {
        .info-menu {
          &__title {
            font-size: 18px;
          }
        }
      }
    }
    .carousel {
      &__arrows {
        width: 105%;
      }
      &__arrow--left {
        margin-left: -5%;
      }
    }
    .opiniones-comments {
      .comment:hover {
        transform: scale(1.1);
        transform-origin: center left;
      }
      .comment:hover ~ .comment {
        transform: translate3d(50px, 0, 0);
      }
      &-comments:hover .comment {
        opacity: 0.3;
      }
      &-comments:hover .comment:hover {
        opacity: 1;
      }
    }
  }
}

@media (min-width: 1024px) {
  .main {
    width: 100%;
    .tarjeta {
      margin-bottom: 0.8em;
      flex-direction: row;
      &-info {
        width: 50%;
        padding: 0px 0.3em 0px 0.6em;
        .tarjeta__title {
          margin-top: 0px;
        }
      }
      &-galeria {
        width: 50%;
      }
    }

    .tarjeta-left {
      margin-bottom: 1em;
      .tarjeta-info {
        order: 1;
      }
      .tarjeta-galeria {
        order: 2;
      }
    }
  }
  .header {
    position: static;
    #Logo {
      position: static;
      background-color: transparent;
      top: none;
      left: none;
      transform: translate(0%);
    }
  }
}

@media (min-width: 1200px) {
  .main {
    .tarjeta {
      &-info {
        padding: 0px 0.8em 0px 0.5em;
      }
      &__text {
        text-align: start;
      }
    }

    .tarjeta-left {
      .tarjeta-info {
        padding: 0px 0.5em 0px 0.8em;
      }
    }
  }
}

@media (min-width: 1600px) {
  .main {
    .tarjeta {
      &-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 1em 0px 1em;
      }
      &-galeria {
        font-size: 125px;
      }
    }

    .tarjeta-left {
      .tarjeta-info {
        padding: 0px 1em 0px 1em;
      }
    }
  }
}

.btn {
  border: none;
  background-color: transparent;
  outline: none !important;
}

.btn:focus {
  box-shadow: none;
}

.ubicacion {
  width: 100%;
  height: 437px;
}

//WHATSAPP ICON
.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 100;
}
.float:hover {
  text-decoration: none;
  color: #25d366;
  background-color: #fff;
}

.my-float {
  margin-top: 16px;
}

#whatsapp2 {
  bottom: 130px;
  z-index: 0;
}

#myWhatsapp2{
  width: 60px;
  height: 60px;
  bottom: 130px;
  position: fixed;
  z-index: 100;
}

.img-thumbnail {
  padding: 0px;
  border: 0px;
  border-radius: 0px;
}
